<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FrontControllerPattern1/src/com/letattung/frontcontrollerpattern1/FrontControllerPatternDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.letattung.frontcontrollerpattern1.FrontControllerPatternDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FrontControllerPattern1"/>
</launchConfiguration>
