<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NullObjectPattern1/src/com/letattung/nullobjectpattern1/NullPatternDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.letattung.nullobjectpattern1.NullPatternDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NullObjectPattern1"/>
</launchConfiguration>
